<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>listeners.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>createAccount</servlet-name>
    <servlet-class>listeners.CreateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>createAdmin</servlet-name>
    <servlet-class>listeners.CreateRestaurantServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adminRegistration</servlet-name>
    <jsp-file>/WEB-INF/login/adminRegistration.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>restaurantPage</servlet-name>
    <jsp-file>/WEB-INF/welcomePage/restaurantPage.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>chatPge</servlet-name>
    <jsp-file>/WEB-INF/welcomePage/chatPage.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>menuServlet</servlet-name>
    <servlet-class>listeners.MenuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>manageMenuServlet</servlet-name>
    <servlet-class>listeners.ManageMenuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>reservationServlet</servlet-name>
    <servlet-class>listeners.ReservationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>homePage</servlet-name>
    <jsp-file>/WEB-INF/welcomePage/homePage.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>currentReservations</servlet-name>
    <jsp-file>/WEB-INF/welcomePage/currentReservations.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>inviteFriendsServlet</servlet-name>
    <servlet-class>listeners.InviteFriendsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>friendsPage</servlet-name>
    <jsp-file>/WEB-INF/welcomePage/friendsPage.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>addFriendServlet</servlet-name>
    <servlet-class>listeners.AddFriendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>evaluateVisitServlet</servlet-name>
    <servlet-class>listeners.EvaluateVisitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adminReservedMenu</servlet-name>
    <servlet-class>listeners.AdminReservedMenu</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>createAccount</servlet-name>
    <url-pattern>/createAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>createAdmin</servlet-name>
    <url-pattern>/createAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminRegistration</servlet-name>
    <url-pattern>/adminRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>restaurantPage</servlet-name>
    <url-pattern>/restaurantPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>chatPge</servlet-name>
    <url-pattern>/chatPge</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>menuServlet</servlet-name>
    <url-pattern>/menuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>manageMenuServlet</servlet-name>
    <url-pattern>/manageMenuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>reservationServlet</servlet-name>
    <url-pattern>/reservationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>homePage</servlet-name>
    <url-pattern>/homePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>currentReservations</servlet-name>
    <url-pattern>/currentReservations</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>inviteFriendsServlet</servlet-name>
    <url-pattern>/inviteFriendsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>friendsPage</servlet-name>
    <url-pattern>/friendsPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addFriendServlet</servlet-name>
    <url-pattern>/addFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>evaluateVisitServlet</servlet-name>
    <url-pattern>/evaluateVisitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminReservedMenu</servlet-name>
    <url-pattern>/adminReservedMenu</url-pattern>
  </servlet-mapping>


  <welcome-file-list>
    <welcome-file>/WEB-INF/login/login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
